html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
	font-family: "Monaco", monospace;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 40%;
	min-width: 700px;
}

.left, .right {
  display: flex;
	flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
}

.right {
}

.bio {
	font-size: 18px;
	padding-right: 5px;
}

@media (max-width: 700px) {
	.wrapper {
		flex: 100%;
		min-width: 0px;
		flex-direction: column;
	}

	.left, .right {
		flex: 100%;
	}

	.bio {
		padding: 0 20px;
	}
}

.profile-picture {
	width: 45%;
	min-width: 120px;
	max-width: 180px;
	height: auto;
  border-radius: 50%;
}

.name {
	font-size: 28px;
	font-weight: bold;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 22px;
}

.social-links li {
  display: inline-block;
  margin-right: 4px;
}

.social-links a {
  text-decoration: none;
	color: grey;
  padding: 6px;
}

.social-links a:hover {
	color: black;
}
